# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build or temp
dist/
build/
tmp/

